body {

    color: white;
  }

.jumbotron {
    background-image: url("images/bacteria.jpg");

    text-align: center;
  }

/* image sourced from https://thumbor.forbes.com/thumbor/711x399/https://specials-images.forbesimg.com/dam/imageserve/1083264016/960x0.jpg?fit=scale */
